h1 {
  margin: 0;
  font-size: clamp(2.5rem, calc(1.71rem + 3.38vw), 4.75rem);
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  color: var(--color-hd-1);
}

h2 {
  margin-top: 0;

  // color: var(--color-hd-2);
  font-family: var(--font-family-heading);
  font-size: clamp(2.63rem, calc(2.14rem + 2.07vw), 4rem);
  text-align: center;
}

h3 {
  color: var(--color-hd-3);
  font-family: var(--font-family-heading);
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-family: var(--font-family-p);
  font-weight: 500;
}
