// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Roboto:wght@400;700;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Oswald:wght@300;400;500;600;700&display=swap");

:root {
  /** ========== colors ========== **/
  --color-primary: #0b9aff;
  --color-secundary: #00eca4;
  --color-third: #1d1d1d;
  --color-fifth: #2c2c2c;
  --color-five: #ff6900;

  /** ========== font ========== **/

  /** ===== family ===== **/

  --font-family-body: "Oswald", sans-serif;

  /** ===== heading ===== **/

  /** h1 **/
  --color-hd-1: var(--color-primary);

  /** h2 **/
  --color-hd-2: var(--color-primary);

  /** h3 **/
  --color-hd-3: var(--color-secundary);

  /** spacing  **/

  --space-sides: 0 clamp(1rem, -26.12rem + 37.5vw, 7.63rem);
  --space-100: 2rem;
  --space-200: 5.813rem;
  --space-300: 8rem;
  --space-400: 11rem;

  --gap-100: 2rem;

  /** ========== templeating ========== ***/

  --bgk-body: var(--color-fifth);
  --bgk-nav: var(--color-third);

  /** btns **/
  --button-size-small: 2.4rem;
  --button-size-default: 3rem;
  --button-size-large: 3.6rem;
  --bgk-btn-secundary: var(--color-secundary);

  /** ===== cards ===== **/

  --bgk-cards: var(--color-third);
  --border-cards: 3px solid var(--color-third);

  /** we offer **/
  --bgk-point: var(--color-secundary);
  --color-point: white;
  --bgk-card-we-offer: white;

  /** us services **/

  /** solutions **/
  --bgk-solutions: var(--color-third);
  --bgk-card-solutions: var(--color-fifth);
}
