nav {
  width: 100%;
  position: absolute;
  z-index: 1;
}

nav.fixed {
  width: 100%;
  position: fixed;
  top: 0;
}

nav.below {
  width: 100%;
  position: absolute;
  z-index: -1;
}
