@use "../../../abstracts/mixins" as mx;

section.we-offer {
  margin-top: var(--space-400);
}

div.why-offer-container {
  text-align: center;

  @include mx.breakpoint(large) {
    text-align: initial;
  }

  div.points-container {
    padding: var(--space-sides);
    div.point-container {
      padding: 2rem 1rem 1rem 1rem;
      margin-bottom: var(--gap-100);

      background-color: var(--bgk-cards);
      border-radius: 0.5rem;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
      border: var(--border-cards);
      @include mx.breakpoint(large) {
        display: flex;
        align-items: center;
        gap: var(--gap-100);
        padding: 1.5rem;
      }
    }
  }
}

div.point {
  margin-bottom: 2rem;
  @include mx.breakpoint(large) {
    margin-bottom: 0;
  }
  span {
    background-color: var(--bgk-point);
    color: white;
    padding: 0.7rem 3rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}
