@use "../../../abstracts/mixins" as mx;

div.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  height: calc(100vh - var(--space-200));

  @include mx.breakpoint(large) {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 clamp(2rem, -26.12rem + 37.5vw, 7.63rem);
    padding-top: var(--space-200);
  }

  div.hero-container-image {
    max-width: 30rem;
    @include mx.breakpoint(large) {
      max-width: 65rem;
    }
  }
}

section.control-taken {
  margin-top: 3rem;
  @include mx.breakpoint(large) {
    margin-top: 0;
  }

  div.taken-content {
    text-align: center;
    max-width: 65rem;
    @include mx.breakpoint(large) {
      max-width: 42rem;
      text-align: initial;
    }

    p.p-taken {
      font-size: clamp(1rem, calc(0.91rem + 0.38vw), 1.25rem);
      margin-bottom: 2rem;
      @include mx.breakpoint(large) {
        font-size: 1.2rem;
        margin-bottom: 4rem;
      }
    }
  }
}
