div.container-modal {
  display: flex;
  justify-content: center;
  padding: var(--space-sides);
  padding-top: var(--space-200);

  div.container-modal-form {
    width: 100%;
    background-color: black;
    border-radius: 0.5rem;
    margin: var(--space-100) 0;
    padding: var(--space-100);

    div.container-modal-form-top {
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      a.back {
        color: white;
      }
      h2 {
        width: 100%;
        margin: 0;
      }
    }

    form.modal-form {
      width: 50%;
      height: 100%;
      margin-inline: auto;
    }

    div.container-name,
    div.container-email,
    div.container-phone,
    div.container-id,
    div.container-ciudad {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      label {
        color: white;
        font-size: 1.75rem;
      }

      input {
        height: 2rem;
        padding: 2rem 1rem;
        border: 2px solid white;
        border-radius: 0.5rem;
        width: 100%;
        font-size: 1.25rem;
        color: white;
        &::placeholder {
          color: white;
          font-size: 1.25rem;
        }
      }
    }

    div.message textarea {
      width: 100%;
    }
  }
}

button.btn-more-detail {
  background-color: var(--bgk-btn-secundary);
  padding: 1rem;
  border-radius: 0.5rem;
}
