p.btn-request-quote {
  background-color: var(--bgk-btn-request-quote);
  padding: var(--padding-btn-request-quote);
  border-radius: var(--border-radius-btn-request-quote);
  border-bottom: var(--border-bottom-btn-request-quote);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
