a.btn-locate-vehicle {
  background-color: var(--bgk-btn--locate-vehicle);
  padding: var(--padding-btn-locate-vehicle);
  border-bottom: var(--border-bottom-btn-localte-vehicle);
  border-radius: var(--border-radius-btn-localte-vehicle);
  color: white;
}
