a.btn-more-info {
  background-color: var(--bgk-btn-more-info);
  padding: var(--padding-btn-more-info);
  border-radius: var(--border-radius-btn-more-info);
  border-bottom: var(--border-bottom-btn-more-info);
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
