@use "../../abstracts/mixins" as mx;
section.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 clamp(1rem, calc(-26.12rem + 37.5vw), 7.63rem);
  padding-top: var(--space-200);

  div.container-login {
    height: 100%;
    padding: var(--space-100) 0;
    @media (min-width: 1440px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4rem;
    }
    div.content-login {
      @media (min-width: 1440px) {
        width: 700px;
        flex-grow: 1;
      }
    }
  }

  div.panel {
    color: white;
    @include mx.breakpoint(medium) {
      max-width: 745px;
    }

    div.container-panel {
      padding: 2rem;
      background-color: var(--color-secundary);
      border-radius: 0.5rem;

      & > p {
        text-align: center;
        font-size: 2rem;
        color: white;
        @media (min-width: 1440px) {
          font-size: 2.5rem;
        }
      }

      a {
        display: flex;
        justify-content: center;
        p {
          color: white;
          padding: 1rem 4rem;
          border: 2px solid white;
          border-radius: 5rem;
          transition: background-color 0.5s;
          &:hover {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
}
