@use "../../abstracts/mixins" as mx;
section.login {
  .container-login {
    @include mx.breakpoint(large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 5rem;
      margin-top: 8rem;
    }
  }

  div.panel {
    background-color: var(--color-secundary);
    color: white;
    border-radius: 0.5rem;
    div.container-panel {
      padding: 1rem;
      @include mx.breakpoint(large) {
        padding: 4rem;
      }

      & > p {
        text-align: center;
        font-size: 2rem;
        color: white;
        @include mx.breakpoint(large) {
          font-size: 2.5rem;
        }
      }

      a {
        display: flex;
        justify-content: center;
        p {
          color: white;
          padding: 1rem 4rem;
          border: 2px solid white;
          border-radius: 5rem;
          transition: background-color 0.5s;
          &:hover {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
}
