@use "../../../../../../abstracts/mixins" as mx;
div.container-sign {
  margin-bottom: 2rem;

  div.container-form-sing {
    p {
      text-align: center;
    }
  }
}

form.form-sign {
  div.container-email,
  div.container-password,
  div.container-username {
    margin-bottom: 1rem;
  }

  div.email,
  div.password,
  div.username {
    display: flex;
    background-color: #e8e8e8;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;

    input {
      width: 100%;
      outline: none;
      &::placeholder {
        font-weight: 700;
        font-size: 0.9rem;
      }
    }
  }
  div.container-sign {
    display: flex;
    justify-content: center;
    input {
      border: 2px solid var(--color-primary);
      padding: 1rem 4rem;
      border-radius: 5rem;
      font-weight: 700;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      transition: background-color 0.5s;
      &:hover {
        background-color: var(--color-primary);
      }
      &::placeholder {
        font-weight: 700;
      }
    }
  }
}
div.error {
  border: 2px solid red;
}
