@use "../../../abstracts/mixins" as mx;

section.web-sites {
  margin-top: var(--space-400);
  div.web-sites-container {
    padding: var(--space-sides);
  }
}

div.web-sites-card-container {
  @include mx.breakpoint(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-100);
  }

  @include mx.breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

div.web-site {
  background-color: var(--bgk-cards);
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-fifth);
  padding: 2.5rem 1.5rem;
  margin-bottom: var(--gap-100);

  div.web-site-points {
    display: flex;
    flex-direction: column;
    div.points {
      display: flex;
      align-items: center;
      gap: 1rem;
      //   background-color: var(--color-primary);
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;

      img.check {
        width: 2rem;
        border-radius: 0.35rem;
        padding: 0.3rem;
        overflow: hidden;
      }

      p.p-point {
        margin: 0;
        // color: white;
      }
    }
  }

  div.web-site-image-container {
    img {
      margin-inline: auto;
    }
  }

  div.web-site-link-container {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--gap-100) * 2);
  }
}
